.component-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.component-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #f1f1f1;
}
.component-hero-text-container {
  width: 45%;
  height: 169px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.component-heading {
  color: #040404;
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.component-text {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.component-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
@media(max-width: 991px) {
  .component-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .component-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .component-heading {
    text-align: center;
  }
  .component-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .component-hero-text-container {
    width: 100%;
  }
}
